.navigationItem a:link,
.navigationItem a:visited {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2em;
}

.navigationItem a:hover,
.navigationItem a.active {
  color: white;
  text-decoration: underline;
}
