@import "../../../style/abstracts/variables";

.navigationItem {

  a:link, a:visited {
    color: $color-white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.8rem;
  }

  a:hover, a:active {
    color: white;
    text-decoration: underline;
  }
}

