@import "../../../style/abstracts/variables";

.button {
  font-weight: 300;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: $color-black;
  border: 1px solid $color-black;
  font-size: 1.6rem;

  &:active, &:hover {
    background-color: $color-black;
    color: $color-white;
    transition: all 0.2s;
  }
}

