@import "../../style/abstracts/variables";

.header {
  height: 32rem;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  color: $color-white;

  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    height: 15rem;
    width: 15rem;
  }

  &__nav {
    display: flex;
  }
}
