.header {
  height: 320px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  color: white;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 150px;
  width: 150px;
}

.mainNav {
  display: flex;
}
